services:
  jellyfin:
    networks:
      - servers
    image: jellyfin/jellyfin
    container_name: jellyfin
    devices:
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - type: bind
        source: /mnt/user/appdata/jellyfin/cache
        target: /cache
      - type: bind
        source: /mnt/user/appdata/jellyfin/config
        target: /config

      - type: bind
        source: /mnt/user/data/media
        target: /data/media
        read_only: true
      - type: bind
        source: /mnt/user/data/nzbdav-download
        target: /data/nzbdav-download
        read_only: true
    restart: 'unless-stopped'

networks:
  servers:
    external: True
     
